* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #22222265;
  line-height: 1.6;
}

header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

section {
  padding: 40px 20px;
}

#inicio {
  text-align: center;
  background-color: #ddd;
}

#inicio h2 {
  margin-bottom: 10px;
}

#motos h2,
#nosotros h2,
#contacto h2 {
  margin-bottom: 20px;
}

.motos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.moto {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moto h3 {
  color: #b30000;
}

#nosotros {
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
}

button {
  padding: 12px;
  background-color: #b30000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #800000;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  outline: 3px solid orange;
  outline-offset: 3px;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

/* TABLETA */
@media (min-width: 768px) {

  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .motos {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .moto {
    flex: 1 1 45%;
  }
}

/* ESCRITORIO */
@media (min-width: 1024px) {

  .motos {
    justify-content: center;
    align-items: stretch;
  }

  .moto {
    flex: 1 1 30%;
  }
}